.content_nav{
    display: flex;
    align-items: center;
    position: fixed;
    background: yellow;
    width: 107%;
    margin: -87px;
}
.content_nav .input{
    display: flex;
    align-items: center;
}
.input div input{
    height: 28px;
    margin-left: 23px;
}
.lupa{
    width: 11%;
    margin-left: -27px;
    margin-bottom: -7px;
}
.img_nav{
    display: flex;
}
.hamburger{
    width: 8%;
}
.shopping_cart{
    width: 12%;
    margin-left: -185px;
}

.list{
    display: flex;
    list-style: none;
    width: 396px;
}
.logo{
    width: 30%;
    margin: 13px 0px 13px 175px;
}
.ul_li{
    margin-left: 50%;
    display: flex;
}
li{
    margin-right: 34px;
    color: rgb(194, 28, 28);
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
}