.content_nav{
    display: flex;
    align-items: center;
    position: fixed;
    background: yellow;
    width: 107%;
    margin: -85px;
}

.list{
    display: flex;
    list-style: none;
    width: 254px;
}
.logo{
    width: 30%;
    margin: 13px 0px 13px 191px;
}
.ul_li{
    margin-left: 55%;
}
li{
    margin-right: 18px;
    color: rgb(194, 28, 28);
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
}