.footer{
    text-align: center;
    height: 795px;
}


@media (min-width:1200px) {
    .footer{
        display: flex;
        height: 256px;
        margin: 0 11% 0 12%;
        position: relative;
        border-top: 1px solid hsl(274, 8%, 83%);
    }
}