.footer{
    display: flex;
    width: 100%;
    background-color: black;
    height: 100px;
    text-align: center;
    align-items: baseline;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
}


@media (min-width:1200px) {
    .footer{
        display: flex;
        height: 90px;
        background-color: black;
    }
}