.lista{
    display: flex;
    flex-wrap: wrap;
    margin: 85px;
    width: 100%; 
} 
.lista div{
    margin: 20px;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px;
    width: 200px;
} 
.lista div img{
    width: 100px;
}
.lista div div{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0%;
    margin: 0%;
    align-items: baseline;
}
.lista div div span{
    margin: 0;
}

.lista div button{
    margin: 0px 13px 20px;
    padding: 6px;
    border-radius: 8px;
    background-color: yellow;
    cursor: pointer;
}